* {
	margin: 0;
	padding: 0;
	font-family: 'Bai Jamjuree', sans-serif;
	-webkit-tap-highlight-color: transparent;
	-moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
html {
	font-size: 15px;
}
body {
    width: 100%;
    height: 100vh;
	background-color: #c0b3c2;
    color: #555555;
    justify-content: center;
}
.iphone-checkbox {
	outline: none;
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
}
.iphone-checkbox + label {
	position: relative;
    padding: 0 0 0 50px;
    cursor: pointer;
}
.iphone-checkbox + label:before {
	content: '';
	position: absolute;
	top: -4px;
	left: 0;
	width: 50px;
	height: 26px;
	border-radius: 13px;
	background: #2d292e;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
	transition: .2s;
}
.iphone-checkbox + label:after {
	content: '';
	position: absolute;
	top: -2px;
	left: 2px;
	width: 22px;
	height: 22px;
	border-radius: 11px;
	background-color: #FFFFFF;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	transition: .2s;
}
.iphone-checkbox:checked + label:before {
	background-color: #c0b3c2;
}
.iphone-checkbox:checked + label:after {
	left: 26px;
}
.result,
.theme-style {
	justify-content: space-around;
    flex-direction: column;
}
.theme-style {
	height: 100px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 0;
}
.theme-style > h2 {
	font-size: 2rem;
	font-weight: 300;
	white-space: nowrap;
}
.btns-block > div {
    display: flex;
	justify-content: space-between;
}
.theme-changer {
	justify-content: center;
}
body,
.result,
.theme-style,
.theme-changer {
    display: flex;
    align-items: center;
}
.theme-changer > img {
	width: 20px;
    height: 20px;
    margin: 0 10px;
}
.btns-block button {
	width: 75px;
	height: 75px;
    outline: none;
    cursor: pointer;
    margin: 5px;
    font-size: 1.5rem;
    background-color: #333333;
    color: #FFFFFF;
}
button.btn-gray {
	background-color: #c1cdd3;
    color: #333333;
}
button.btn-orange,
.dark-theme .btns-block .btn-orange {
	background-color: #f3c432;
    color: #333333;
}
.result {
    margin: 75px 5px 10px;
	padding: 0 20px;
	flex: 1 1 100%;
    background-color: #FFFFFF;
}
#buff {
	font-size: 1.75rem;
	font-weight: 300;
}
#enter {
	font-size: 2.25rem;
	font-weight: 500;
}
.result,
.btns-block button {
	height: 75px;
    border-radius: 37.5px;
	border: solid 2px #333333;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
.dark-theme .btns-block .btn-gray {
	background-color: #666666;
}
.dark-theme {
	background-color: #2d292e;
}
.dark-theme .result,
.dark-theme > .theme-style > h2,
.dark-theme .btns-block .btn-gray {
	color: #FFFFFF;
}
.dark-theme .result {
	background-color: #333333;
}
.dark-theme .btns-block button {
	background-color: #FFFFFF;
	color: #333333;
}
.dark-theme .result,
.dark-theme .btns-block button {
	height: 75px;
    border-radius: 37.5px;
	border: solid 2px #FFFFFF;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}